@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

@font-face {
  font-family: "ClashDisplay";
  font-weight: 500;
  src: url(/assets/font/ClashDisplay-Medium.otf);
}

@font-face {
  font-family: "ClashDisplay";
  font-weight: 600;
  src: url(/assets/font/ClashDisplay-Semibold.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-size {
  background-size: 100% 100%;
}

.search-container {
  position: relative;
  display: inline-block;
  margin: 4px 2px;
  height: 30px;
  width: 30px;
  vertical-align: bottom;
}

.searchbutton {
  position: absolute;
  font-size: 22px;
  width: 10%;
  margin: 0;
  padding: 0;
}

.search:focus+.searchbutton {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: white;
  color: black;
}

.search {
  position: absolute;
  left: 0px;
  background-color: white;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

.search:focus {
  border-radius: 35px;
  border: 1px solid black;
  margin-top: -10.4px;
  height: 50px;
  width: 153px;
  padding: 0 16px 0 10px;
}

.expandright {
  left: auto;
  right: 49px;
}

.expandright:focus {
  padding: 0 0 0 16px;
}

.slider_arrow_hover:hover circle {
  fill: black;
}

.slider_arrow_hover:hover path {
  fill: black;
}

.slider_arrow_hover:hover rect {
  fill: #ffcd46;
}

.slider_arrow_hover:hover path {
  stroke: black;
}

.like_icon:hover path {
  transition: all 3ms linear !important;
  stroke: red;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 5s linear infinite;
}

@media (min-width: 1024px) {
  .marquee {
    animation: none !important;
    transition: none !important;
  }
}