@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@font-face {
  font-family: "ClashDisplay";
  font-weight: 500;
  src: url(../../public/assets/font/ClashDisplay-Medium.otf);
}
@font-face {
  font-family: "ClashDisplay";
  font-weight: 600;
  src: url(../../public/assets/font/ClashDisplay-Semibold.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
